@model miVacationSurfer.LocationReview

@{
    ViewBag.Title = "LocationSearch";
}

<h2>LocationSearch</h2>

@section Search
{
   
}

<form name="jse_Form">
    <input type="text" name="d">
    <input type="button" value="Go" onclick="search_form(jse_Form)">
</form>

